<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>

  <appSettings>
    <!--set debug mode to display and enable debug buttons, and show debug statements on output panel -->
    <add key="DEBUG_MODE" value="true"/>
    <!--use monte carlo for runtime, set to false for debugging with exhaustive search -->
    <add key="USE_MONTE_CARLO_RUNTIME" value="true"/>
    <!--one stop mapping for all three levels on monte carlo, otherwise only two levels mapped-->
    <add key="ONE_STOP_MAPPING" value="true"/>
    <!--mapping depth to verify with exhaustive search in mcts (3 for easy scenarios, 5 for standard scenarios, 7 for difficult scenarios) -->
    <add key="MAPPING_DEPTH_TO_VERIFY" value="5"/>
    <!--real time and verification depth for exhaustive search in mcts (1 for standard scenarios, 3 for difficult scenarios) -->
    <add key="REALTIME_DEPTH_TO_VERIFY" value="1"/>
    <!--Set mapping range to false to search answer without redundant moves. Set to true on mapping to include redundant moves within mapping range. -->
    <add key="USE_MAPPING_RANGE" value="true"/>
  </appSettings>
</configuration>
